<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVCdzDLllCHYXRfrc_gcQnoP8-3t_xApw</string>
	<key>GCM_SENDER_ID</key>
	<string>726733541954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineShopping.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>online-shopping-bce1e</string>
	<key>STORAGE_BUCKET</key>
	<string>online-shopping-bce1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726733541954:ios:9459a223125f380fc593db</string>
</dict>
</plist>